body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#plots {
    display: flex; /*removing this makes it expand horizontally*/
    flex-wrap: wrap; /*removing this makes it expand horizontally*/
    justify-content: center; /*removing this makes it expand horizontally*/
    width: 100%;
    height: 80vh; 
    margin: 0 auto; 
}

.plot {
    margin: 20px;
    width: 90%;
    max-width: 600px;
}
